html * {
  text-autospace: ideograph-numeric, ideograph-alphai;
  line-height: 1.33em;
  font-size: 5.0mm;
  font-family: "schoolbell", cursive;
     -moz-transition-property: background,color,opacity,box-shadow;
  -webkit-transition-property: background,color,opacity,box-shadow;
     -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-duration: 0.20s;
  -webkit-transition-duration: 0.20s;
}

body {
  width: 200mm;
  margin: auto;
}

code {
  font-family: "Ubuntu Mono", monospace;
}

pre {
  background-color: hsla( 0, 0%, 97.3%, 1.00 );
  border: 0.33mm solid hsla( 0, 0%, 80.0%, 1.00 );
  border-radius: 2mm;
  font-size: 4.8mm;
  line-height: 5.0mm;
  overflow: auto;
  padding: 1mm 2.5mm;
  margin: 6mm 0;
}

blockquote {
  background-color: hsla( 60, 100%, 97.3%, 1.00 );
  border: 0.33mm solid hsla( 0, 0%, 80.0%, 1.00 );
  border-radius: 1mm 6mm;
  font-size: 4.8mm;
  line-height: 5.0mm;
  overflow: auto;
  padding: 1.66mm 3.5mm;
  margin: 6mm 0;
}

a {
  color: hsla(240, 100%, 68%, 1.00);
  border: 2px solid hsla(0, 0%, 90%, 0.24);
  border-radius: 6mm;
  background-color: hsla(0, 0%, 95%, 0.70);
}

a:hover {
  background-color: hsla(0, 0%, 85%, 0.70);
}

body > header > h1 {
  font-size: 13mm;
  padding-top: 1.5mm;
  padding-bottom: 3mm;
}

ul ul{ margin-left:3mm; }
li{
  list-style: none;
  margin-top: 2mm;
  margin-bottom: 2mm;
}

ol { padding-left: 6mm; }
ol li {
  list-style: decimal;
  margin-top: 2mm;
  margin-bottom: 2mm;
}

article {
  margin: 4mm 2mm;
}

h1,h2,h3,h4,h5{ margin: 0; padding: 0;}

article > p,
article > div {
  margin: 3mm 1mm;
}

article h1,
article h2,
article h3,
article h4,
article h5{
  margin: 3mm 0;
}

article h1::before { content: "➽ " }
article h2::before { content: "➵ " }
article h3::before { content: "↣ " }
article h4::before { content: "→ " }
article h5::before { content: "⇢ " }

article h1{ font-size: 9mm; }
article h2{ font-size: 7mm; }
article h3{ font-size: 6mm; }
article h4{ font-size: 5mm; }
article h5{ font-size: 4mm; }

article img{
  border-radius: 2mm;
  box-shadow: 0.7mm 0.7mm 1.33mm hsla( 0, 0%, 45%, 0.75);
}

article nav > ul {
  margin-top: 3mm;
  margin-left: 3mm;
}

.vh-list ul, .vh-list li {
  padding-left: 0;
}

.vh-list li ul li {
  display: inline;
}

.vh-list {
  list-style-type: none;
  padding-left: 2mm;
}

header {
  position:relative;
}

header > nav > p {
  font-size:3mm;
}

header > nav hr {
  margin: 2mm 0;
}

header > nav > ul li{
  margin-bottom: 3mm;
}

header > nav{
  opacity:0.75;
  box-shadow: 3px 3px 5px hsla( 0, 0%, 90%, 0.75);
  background-color: hsla( 330, 100%, 98%, 1.00 );
  border: 0.33mm dotted hsla( 330, 90%, 90%, 1.00 );
  border-radius: 2mm;
  padding: 2mm;
  width: 40mm;
  position:absolute;
  right:204mm;
}

header > nav:hover{
  opacity:1;
}

nav .vh-list li ul li:first-child {
  display: inline-block;
  width: 16mm;
}

img {
  max-width: 100%;
}

.inner-images-to-right img{
  float: right;
}

.inner-images-to-right:after {
  display: block;
  clear: right;
  content: "";
}

.inner-li-to-tile > ul > li {
  float: left;
  padding: 1.33mm;
}

.inner-li-to-tile > ul:after {
  display: block;
  clear: left;
  content: "";
}

.recommend {
  opacity:0.75;
  background-color: hsla( 300, 100%, 97.3%, 1.00 );
  border: 0.33mm solid hsla( 0, 0%, 80.0%, 1.00 );
  border-radius: 1mm 6mm;
  font-size: 4.8mm;
  line-height: 5.0mm;
  overflow: auto;
  padding: 1.66mm 3.5mm;
  margin: 6mm 0;
}

.recommend:hover{
  opacity:1;
}

.optional {
  opacity:0.45;
  background-color: hsla( 60, 100%, 97.3%, 1.00 );
  border: 0.33mm solid hsla( 0, 0%, 80.0%, 1.00 );
  border-radius: 1mm 6mm;
  font-size: 4.8mm;
  line-height: 5.0mm;
  overflow: auto;
  padding: 1.66mm 3.5mm;
  margin: 6mm 0;
}

.optional:hover {
  opacity:1;
}

.note {
  opacity:0.45;
  background-color: hsla( 0, 100%, 97.3%, 1.00 );
  border: 0.33mm solid hsla( 0, 0%, 80.0%, 1.00 );
  border-radius: 1mm 6mm;
  font-size: 4.8mm;
  line-height: 5.0mm;
  overflow: auto;
  padding: 1.66mm 3.5mm;
  margin: 6mm 0;
}

.note:hover {
  opacity:1;
}

p.caption {
  float:right;
}

p.caption:after{
  display: block;
  clear: left;
  content: "";
}

pre.datetime{
  position:absolute;
  right: 0;
  width: 45mm;
  background-color: hsla( 60, 100%, 97.3%, 1.00 );
  overflow: hidden;
}
