<header>
  
  <h1>Wonder Rabbit Project</h1>
  
  <nav>
    <p>
      There are navigation as a link to the content page on this website:
    <hr>
    <ul>
      <li>
        <a href="/main">/main</a>
        <ul>
          <li><a href="/about">about</a>
          <li><a href="/links">links</a>
        </ul>
      <li>
        <a href="/Lectures/">/Lectures/</a>
        <ul>
          <li>
            <a href="/Lectures/JavaScript/">JavaScript</a>
            <ul>
              <li>
                <a href="/Lectures/JavaScript/0001/">1</a>
                <a href="/Lectures/JavaScript/0002/">2</a>
                <a href="/Lectures/JavaScript/0003/">3</a>
                <a href="/Lectures/JavaScript/0004/">4</a>
                <a href="/Lectures/JavaScript/0005/">5</a>
                <a href="/Lectures/JavaScript/0006/">6</a>
                <a href="/Lectures/JavaScript/0007/">7</a>
                <a href="/Lectures/JavaScript/0008/">8</a>
                <a href="/Lectures/JavaScript/0009/">9</a>
                <a href="/Lectures/JavaScript/0010/">10</a>
            </ul>
        </ul>
    </ul>
  </nav>

$body$

